// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
/*** Colors ***/
/*** $primary-color: color("materialize-red", "lighten-2") !default; ***/


/*
$primary-color: color("deep-purple", "lighten-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

/*** $secondary-color: color("teal", "lighten-1") !default; ***/
/*
$secondary-color: color("pink", "accent-3") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
*/
body{
  background-color:#EEEEEE;
}
#app-logo{
  width: 70px;
  margin-top: -3px;
}
.upper-case{
  text-transform: uppercase;
}
