
<div *ngIf="state" class="container">
  <!-- FORM TO CREATE TODOS -->
  <div id="event_edit-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1>To share your event :</h1>
          <button md-button router-active [routerLink]="['/Event_share_withId',{id: tmpId}]">
            click here
          </button>
          <form>
              <div class="form-group">

                  <!-- BIND THIS VALUE TO event_editData.text IN ANGULAR -->
                  <input type="text" class="form-control input-lg text-center" [(ngModel)]="event_editData.title" required>
                  <!-- BIND THIS VALUE TO event_editData.text IN ANGULAR -->
                  <input type="text" class="form-control input-lg text-center" [(ngModel)]="event_editData.date" required>
                  <!-- BIND THIS VALUE TO event_editData.text IN ANGULAR -->
                  <input type="text" class="form-control input-lg text-center" [(ngModel)]="event_editData.place" required>
                  <!-- BIND THIS VALUE TO event_editData.text IN ANGULAR -->
                  <input type="text" class="form-control input-lg text-center" [(ngModel)]="event_editData.description" required>

                  <div>
                    <label>Shopping list</label>
                    <button (click)="newShoppingListEllement()">
                        Add a Ellement in the list
                    </button>
                    <div *ngFor="let ellement of event_editData.shoppingList">
                      <input [(ngModel)]="ellement.name"
                        placeholder="Enter a name" type="text">
                      <input [(ngModel)]="ellement.qte"
                          placeholder="Enter a quantity" type="number">
                      <button (click)="deleteShoppingListEllement(ellement)">
                        X
                      </button>
                    </div>
                  </div>
              </div>

              <!-- createToDo() WILL CREATE NEW TODOS -->
              <button type="submit" class="btn btn-primary btn-lg"
              (click)="editEvent()">Save</button>
              <button type="submit" class="btn btn-primary btn-lg"
              (click)="deleteEvent()">Delete</button>
          </form>
      </div>
  </div>

</div>

<div *ngIf="!state" class="container">

  <!-- FORM TO CREATE TODOS -->
  <div id="event_edit-form" class="container">
    <form>
    <div class="row">
      <div class="card col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-content">
          <span class="card-title">Paper please !</span>
              <div class="textarea-margin-top">
                  <!-- BIND THIS VALUE TO event_editData.text IN ANGULAR -->
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="tmpId" type="text" class="form-control input-lg text-center" [(ngModel)]="tmpId" required>
                      <label for="tmpId">Envent ID</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="tmpPassword" type="password" class="form-control input-lg text-center" [(ngModel)]="tmpPassword" required>
                      <label for="tmpPassword">Password</label>
                    </div>
                  </div>
                  <div *ngIf="msg !=''" class="row">
                      <p class="right-align error-msg"><i class="material-icons right">report_problem</i> {{msg}}</p>
                  </div>

              </div>
              <p><small class="text-muted">You can use the link provided in the mail we send you when you have created your event</small></p>
              </div>
              <div class="card-action center">
                <button type="submit" class="btn btn-primary btn-lg"
                (click)="findEvent()">go <i class="material-icons right">send</i></button>
              </div>
      </div>
    </div>
  </form>
  </div>
</div>
