<div class="container">

  <div class="row"></div>

  <!-- TODO LIST -->
  <div id="event-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

          <!-- LOOP OVER THE TODOS IN $scope.events -->
          <div class="checkbox" *ngFor="let event of events">
              <label>
                  <input type="checkbox" (click)="deleteEvent(event._id)" bind-checked="false">
                  {{ event.title }}
              </label>
              <label>
                  {{ event.date }}
              </label>
              <label>
                  {{ event.place }}
              </label>
              <label>
                  {{ event.description }}
              </label>
              <ul>
                <li *ngFor="let ellement of event.shoppingList">
                  {{ ellement.name }} {{ ellement.qte}}
                </li>
              </ul>
          </div>

      </div>
  </div>

  <!-- FORM TO CREATE event -->
  <md-card class="demo-card demo-basic">
    <md-toolbar color="primary">Create a new event</md-toolbar>
    <md-card-content>

                <form>
                    <md-list>
                        <!-- BIND THIS VALUE TO eventData.text IN ANGULAR -->
                      <md-list-item>  <md-input class="demo-full-width" placeholder="Title" [(ngModel)]="eventData.title"></md-input></md-list-item>
                        <!-- BIND THIS VALUE TO eventData.text IN ANGULAR -->
                      <md-list-item>  <md-input class="demo-full-width" type="text"placeholder="Date" [(ngModel)]="eventData.date"></md-input></md-list-item>
                        <!-- BIND THIS VALUE TO eventData.text IN ANGULAR -->
                      <md-list-item>  <md-input class="demo-full-width" type="text" placeholder="Place" [(ngModel)]="eventData.place"></md-input></md-list-item>
                        <!-- BIND THIS VALUE TO eventData.text IN ANGULAR -->
                    <md-list-item>    <md-input class="demo-full-width" placeholder="Description" [(ngModel)]="eventData.description"></md-input></md-list-item>


                          <md-list-item>  <h4>Shopping list</h4>  </md-list-item>
                          <md-list-item>  <button md-raised-button color="primary" (click)="newShoppingListEllement()">
                              Add a Ellement in the list
                          </button>  </md-list-item>
                          <md-list-item *ngFor="let ellement of eventData.shoppingList">
                            <md-input [(ngModel)]="ellement.name"
                              placeholder="Enter a name" type="text"></md-input>
                            <md-input [(ngModel)]="ellement.qte"
                                placeholder="Enter a quantity" type="number"></md-input>
                            <button md-mini-fab (click)="deleteShoppingListEllement(ellement)">
                              X
                            </button>
                          </md-list-item>
                        </md-list>

                    <!-- createToDo() WILL CREATE NEW TODOS -->

                </form>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" class="btn btn-primary btn-lg"
        (click)="createEvent()">SAVE</button>
    </md-card-actions>
  </md-card>
</div>
